<app-header (itemSelected)="onNavigate($event)"></app-header>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <app-musiclibrary *ngIf="itemSel === 'music'"></app-musiclibrary>
      <app-genre *ngIf="itemSel == 'genre'"></app-genre>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Best Tunes</h2>
    <hr>
    <p>Welcome to the Music Blog site, where you can see the latest songs being listened by most of the people.
    You can ad these songs to your playlist and listen to them whenever you want.</p>
    <p>The songs are organised according to their Genres, please pick your favourite and create your own playlist.</p>
  </div>
</div>
